[submodule "C/REST/Journal/lib/cJSON"]
	path = C/REST/Journal/lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "C/REST/sign/lib/cJSON"]
	path = C/REST/sign/lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
